{#<!DOCTYPE html>#}

{#<html lang="en">#}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <title>QR Code Session</title>#}
{#</head>#}
{#<body>#}
{#    {% qr_from_text key options=my_options %}#}
{##}
{#    <a href="{% url 'streamsession' %}">Start Streaming</a>#}
{##}
{#</body>#}
{#</html>#}

{% load static from staticfiles  %}
<!DOCTYPE html>
{% load qr_code %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Scan QR</title>
    <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
    <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body style="background-color: rgba(139,128,141,0.9)">
    <div style="margin-top: 20px">
        <a href="{% url 'home' %}" class="grey-text text-darken-3 right btn white" style="font-weight:bold;margin-right:40px;margin-top: 15px">
            <i class="material-icons" style="font-size: 20px;vertical-align:middle !important;">arrow_back_ios</i>
            Back
        </a>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col m4" style="margin-top: 100px; margin-left: 500px">
                {% qr_from_text key options=my_options %}
                <br><br>
                <a href="{% url 'streamsession' %}" class="btn" style="margin-left: 140px">Start Streaming</a>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>
