{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Attendance</title>
        <link rel="stylesheet" href="{% static 'css/materialize.css' %}">
        <link rel="stylesheet" href="{% static 'css/materialize.min.css' %}">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
            html {
                scroll-behavior: smooth;
            }
        </style>
    </head>

<body style="background-color: rgba(139,128,141,0.9)">
    <div style="margin-top: 20px">
        <a href="{% url 'home' %}" class="grey-text text-darken-3 right btn white" style="font-weight:bold;margin-right:40px;margin-top: 15px">
            <i class="material-icons" style="font-size: 20px;vertical-align:middle !important;">arrow_back_ios</i>
            Back
        </a>
        <a href="#" class="grey-text text-darken-3 right btn white" style="font-weight:bold;margin-right:30px;margin-top: 15px">
            <i class="material-icons" style="font-size: 20px;vertical-align:middle !important;">info</i>
            Information
        </a>
    </div>
    <br><br><br><br>
        <video id="video" style="margin-left:480px; border: solid white;width:500px;height:400px;">
            Video stream not available.
        </video>
        <br><br>
        <div>
            <a id="startbutton" class="grey-text text-darken-3 btn white" style="font-weight:bold;margin-left: 530px">
                <i class="material-icons" style="font-size: 20px;vertical-align:middle !important;">
                    camera
                </i>
                Start
            </a>
            <a id="stopbutton" class="grey-text text-darken-3 btn white" style="font-weight:bold;margin-left: 175px">
                <i class="material-icons" style="font-size: 20px;vertical-align:middle !important;">
                    stop
                </i>
                Stop
            </a>
        </div>

    <br><br><br><br>
    <canvas id="canvas" style="width:500px;height: 400px;display: none"></canvas>
    <div style="display: none">
        <img id="photo">
    </div>
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/attention_capture.js' %}"></script>
    <script>
        M.AutoInit();
    </script>
</body>
</html>
